
{% extends 'base.html.twig' %}

{% block title %}All articles{% endblock %}

{% block body %}



    </div>
    {{ form_start(form) }}
    {{ form_row(form.searchField) }}
    <button type="submit" style="background: yellowgreen;" name="btnSearch">Rechercher</button>
    {{ form_end(form) }}
<div class="container ">
    <div class="row">
        <div class="col-6" style="background: yellow;"><h1>All articles from articles table : </h1></div>

    </div>
    {% for article in articles %}
        <div>
            <h2>{{ loop.index }} / {{ article.title }} - Category : {{ article.category.name }}</h2>
            <p>{{ article.content }}</p>
        </div>
    {% else %}
        Aucun article trouvé.
    {% endfor %}
    <a href="{{ path('app_index') }}">
      Back to homepage.
    </a>
{% endblock %}
